// COLOR VARIABLES
$color-primary: #424242;
$color-light-green: #9ccc65;

// FONT VARIABLES
$font-display: "Nunito", sans-serif;
$font-primary: 'Lato', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 300;
  line-height: 1.6;
}